@font-face {
    font-family: 'Open Sans Bold';
    src: url("/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Anurati';
    src: url("/fonts/Anurati-Regular.otf");
}

.custom-font {
    -fx-font-family: 'Kalos Sans';
    -fx-font-weight: bold;
    -fx-font-size: 35;
}

.custom-font-button {
    -fx-font-family: 'Kalos Sans';
    -fx-font-size: 25;
}

.custom-font-header {
    -fx-font-family: 'Kalos Sans';
    -fx-font-weight: bold;
    -fx-font-size: 27;
}

.custom-font-result {
    -fx-font-family: 'Kalos Sans';
    -fx-font-size: 22;
}

.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #333333;
}

.trans-btn-white-border {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.white-pane {
    -fx-background-color: #FFFFFF;
}

.tf_box {
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}

.tf {
    -fx-background-color: transparent;
}

.pink-btn {
    -fx-background-color: #F78C7B;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}

.text-area:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(247, 140, 123, 0.9); /* here rgba (corrected) */
}
/*---------------------------General-----------------------------*/
.glyph-icon{
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    -glyph-size: -icon-size;
}

/*---------------------------Splash Screen-----------------------------*/
.splash-text {
    -fx-font-family: "Anurati";
    -fx-font-size: 90;
    -fx-fill: #00838F;
    -fx-text-alignment: center;
}

/*---------------------------Top Bar Buttons-----------------------------*/
.exit-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -icons-color: #999999;
    -icon-size: 20px;
}

.minimize-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -icons-color: #999999;
    -icon-size: 20px;
}

.exit-button:hover {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(233, 47, 22, 0.9);
    -icons-color: white;
}

.minimize-button:hover {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #bdc3c7;
    -icons-color: Black;
}

.top-bar-nav {
    -fx-background-image: url("../images/top_bar_nav.jpg");
}

/*---------------------------Bottom Bar Buttons-----------------------------*/
.bottom-bar-nav {
    -fx-background-image: url("../images/bottom_bar_nav.jpg");
}

.option-button {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 17;
    -fx-text-fill: #00838F;
    -icons-color: #00838F;
    -icon-size: 17px;
}


/*---------------------------Main Screen-----------------------------*/
.main-background {
    -fx-background-image: url("../images/background.jpg");
}

.main-logo {
    -fx-font-family: "Anurati";
    -fx-font-size: 17;
    -fx-fill: #00838F;
    -fx-text-alignment: center;
}

